<!DOCTYPE html>
<html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./bootstrap_util/css/bootstrap.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@1.0.14/dist/vue.js"></script>
</head>
<body>
    <div id="app"  class="container">
        <h2 style="text-align: center;">图书管理</h2>
        <div id="divTblBook">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th v-for="b in bookShow">{{ b }}</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in books">
                        <td v-for="b in item">{{ item[$key] }}</td>
                        <td>
                            <button class="btn btn-danger" v-on:click ="delBook(item)">删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="divAddBook">
            <p>添加书籍</p>
            <div v-for="b in bookShow">
                <div class="form-group">
                    <label>{{ b }}</label>
                    <input type="text" class="form-control" v-model="book[$key]">
                </div>
            </div>
            <button class="btn btn-primary" v-on:click="addBook()">添加</button>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                books: [{
                    name: '红楼梦',
                    author: '曹雪芹',
                    price: 32.0
                }, {
                    name: '水浒传',
                    author: '施耐庵',
                    price: 30.0
                }, {
                    name: '三国演义',
                    author: '罗贯中',
                    price: 24.0
                }, {
                    name: '西游记',
                    author: '吴承恩',
                    price: 20.0
                }],
                book: {
                    Name: '',
                    Author: '',
                    price: ''
                },
                bookShow: {
                    Name: "书名",
                    Author: "作者",
                    price: "价格"
                }
            },
            methods: {
                addBook: function () {
                    this.books.push(this.book);
                    this.book = "";
                },
                delBook: function (book) {
                    this.books.$remove(book);
                }
            }
        })
    </script>
</body>

</html>